// COLORS
$blue: #73b4df;
$dark-blue: #194069;
$orange: #e66f41;
$black: #222831;
$white: #efe7de;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 18px; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// SPACING
$xxxs-size: 0.2rem;
$xxs-size: 0.5rem;
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$xxxl-size: 8rem;
$huge-size: 10rem;

// BREAKPOINTS
$desktop-breakpoint: 45rem;
$desktop-breakpoint-xs: 21.875rem;
$navigation-height: 3.75rem;
$navigation-height-mobile: 4.375rem;
$footer-height: 3.75rem;
